/* landing page Top nav style */
/*.navbar-header,#myNavbar{
   position: fixed;
}*/
.navbar{
    
    padding: 4px 20px;
    background: #fff;
    border: 0px solid #fff;
    box-shadow: 0px 0px 10px rgba(119, 135, 130, 0.50);
}
.nav, .navbar-toggle{
    margin-top: 3%;
}
.navbar-toggle{
    margin-top: 10%;
    background: #0C754A;
}
.navbar-default .navbar-toggle:hover{
    background: #0C754A;
}

.icon-bar {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #0c754a; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #0c754a;
}
.navbar-collaspe{
    height: 100px;
}

/* landing page main section style */
.main-section{
    height: 550px;
    width: 100%;
    margin-top: 78px;
    background: url('/lnq/images/lnq1.jpg');
    background-repeat: repeat-x;
    padding:0px 0px;
    border-radius: 15px;
}
#opaque{
    background-color: rgba(21, 46, 21, 0.156);
    width: 100%;
    height:550px;
    padding:20px 0px;
    border-radius: 15px;
    margin-bottom: 0px;
}
#mainHead{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #FDFFFE;
    margin-top: 10%;
    text-shadow: 2px 2px #255842;
    margin-left:10%; 
}
#mainP{
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:14px;
    color: #255842;
    text-shadow: 1px 0px #255842;
    margin-left:10%;
}
#getStarted{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 2%;
    color: #0C754A;
    background: transparent;
    border: 2px solid #0C754A;
    border-radius:0px;
    padding: 15px 15px;
}
#getStarted span{
    color: #0c754a;
}

#sectionsDiv{
    margin-top: 20px;
}
#subHead{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:  25px;
    margin-top: 2%;
    margin-left: 40%;
    color: darkslategrey;
}
#subP{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size:13px;
    color: darkslategray;
    margin-left:15%;
}
/*regfrom style*/
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #075032;
}
#reg-btn{
    margin-left: 0px;
}
.radio-inline{
    color: black;
}
.reghead{
    margin-left: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #F5F9F7;
}
#footer{
    width: 99%;
    
}
/*Dashbboard starts here*/
#dashbody{
    margin-top: 100px;
}
#frames{
    height: 500px;
}
#leftframe,#rightframe{
    height: 450px;
}
#rightframe{
    width: 60%;
}
#leftimg{
    position: fixed;
    z-index: 1;
    height: 203px;
    width: 98%;
    background-color: #FFFFFF;
}
#leftimg img{
    width: 70%;
    height: 200px;
}
.nav-stacked{
    margin-top: 205px;
}
.nav-stacked a{
    color: #0c754a;
    font-size: 19px;
}
#imgbox{
    height: 250px;
    width: 250px;
    border: 1px double #0c754a;
    box-shadow: 1px 1px 2px gray;
    margin-left: 350px;
}
#picform{
    margin-left: 290px;
    margin-top: 5px;
}
#status{
    color:#0c754a;
    font-size: 15px;
    font-family: cursive;
}